body
  margin: 0

//*********** Header
header
  display: flex

  h1
    font-size: 50px
    background: #FFFFFF

//*********** Session

.user
  display: flex

.id, .state
  border: solid
  border-width: 1px
  border-color: black
  padding: 5px
  width: 150px

.id
  width: 150px

.active
  background-color: #ff2525
