body
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  transition: background-color 0.3s ease

.user
  border: solid
  border-width: 1px
  border-color: black
  padding: 5px
